## Input and Output

In [14]:
import json as json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random as random

### Txt file

- ```with open ()``` method

In [12]:
with open('data/test.txt', 'w')as file:
    for k in range(100):
        file.write("it is your "+ str(k) + "th turn! \n")

- ```open()``` and ```close()``` method

In [5]:
txtfile = open("data/textdata.txt",'w')

In [7]:
for i in range (1000):
    '''check even or odd'''
    if i%2 ==0:
        txtfile.write(str(i) + "|It is even \n")
        
        '''check above or below 500'''
        if i<500:
            txtfile.write(str(i) + "|It is below 500 \n")
        else:
            txtfile.write(str(i) + "|It is above 500 \n")
            
    else:
        txtfile.write(str(i) + "|It is odd \n")
        
        '''check above or below 500'''
        if i<500:
            txtfile.write(str(i) + "|It is below 500 \n")
        else:
            txtfile.write(str(i) + "|It is above 500 \n")
            
txtfile.close()

- uploading/reading text file

In [13]:
with open('data/textdata.txt','r') as f:
    i = 0
    for line in f:
        print(line)
        if i >10:
            break
        i = i+1

0|It is even

0|It is below 500

1|It is odd

1|It is below 500

2|It is even

2|It is below 500

3|It is odd

3|It is below 500

4|It is even

4|It is below 500

5|It is odd

5|It is below 500

### JSON file

In [21]:
Data = []
for k in range(1000):
    Data.append({"x": [np.random.uniform(0,10)],\
        "y": [np.random.uniform(0,20)],\
        "z" : [np.random.uniform(0,10)]})

In [22]:
Data[0:2]

[{'x': [1.8839346315348737],
  'y': [6.0835072634662986],
  'z': [3.276104104086145]},
 {'x': [9.628121052955331],
  'y': [16.700772917067376],
  'z': [9.745359117486796]}]

- Save data to a JSON file

In [23]:
with open("data/sample_data.json", 'w')as f:
    json.dump(Data,f)

- Upload data from JSON file

In [25]:
with open("data/sample_data.json","r")as f:
    uploaded_data = json.load(f)

In [26]:
uploaded_data[0:2]

[{'x': [1.8839346315348737],
  'y': [6.0835072634662986],
  'z': [3.276104104086145]},
 {'x': [9.628121052955331],
  'y': [16.700772917067376],
  'z': [9.745359117486796]}]

### CSV file

In [27]:
DF = pd.DataFrame(Data)
DF.head()

                      x                     y                    z
0  [1.8839346315348737]  [6.0835072634662986]  [3.276104104086145]
1   [9.628121052955331]  [16.700772917067376]  [9.745359117486796]
2  [2.0768931636980845]   [5.849768937283848]  [8.084610814826279]
3  [0.2372457845228848]   [15.49667141911166]  [9.944603467579137]
4  [0.3459712171618945]   [7.018321208449565]  [9.626557810956909]

- Save data to a CSV file

In [30]:
DF.to_csv("data/sampledata.csv")

- Upload data from a CSV file

In [35]:
uploaded_data = pd.read_csv("data/sampledata.csv")

In [36]:
uploaded_data.head()

   Unnamed: 0                     x                     y                    z
0           0  [1.8839346315348737]  [6.0835072634662986]  [3.276104104086145]
1           1   [9.628121052955331]  [16.700772917067376]  [9.745359117486796]
2           2  [2.0768931636980845]   [5.849768937283848]  [8.084610814826279]
3           3  [0.2372457845228848]   [15.49667141911166]  [9.944603467579137]
4           4  [0.3459712171618945]   [7.018321208449565]  [9.626557810956909]